#notification-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

#notification-container-title {
  height: 50px;
  padding: 15px 10px;
  font-size: 24px;
  font-weight: 600;
}

#notification-filter-container{
  height: 50px;
  display: flex;
  border-bottom: 0.5px solid var(--border-color);
  align-items: end;
  padding: 0px 5px 10px 5px;
  justify-content: space-around;
}

.notification-filter{
  position: relative;
  color: rgb(80, 80, 80);
  cursor: pointer;
  width: 40px;
  transition: font-weight 0.4s ease-ouy;
}

#notification-filter-all::after{
  content: "";
  width: 40px;
  height: 4px;
  background-color: var(--theme-color);
  position: absolute;
  top: 22px;
  border-radius: 10px;
  left: -10px;
  display: var(--after-all, block);
}

#notification-filter-post::after{
  content: "";
  width: 50px;
  height: 4px;
  background-color: var(--theme-color);
  position: absolute;
  top: 22px;
  border-radius: 10px;
  left: -4px;
  display: none;
  display: var(--after-post, none);
}

#notification-filter-friend::after{
  content: "";
  width: 62px;
  height: 4px;
  background-color: var(--theme-color);
  position: absolute;
  top: 22px;
  border-radius: 10px;
  left: -8px;
  display: none;
  display: var(--after-friend, none);
}

.filter-selected{
  color: var(--text-color);
  font-weight: 600;
}

#notification-loading-container{
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#no-notification{
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  color: rgb(91, 91, 91);
}

.notification-card{
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 10px 20px;
  border-bottom: 0.5px solid var(--border-color);
  position: relative;
  cursor: pointer;
}

.notification-logo{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.notification-card-details-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  font-size: 15px;
  row-gap: 5px;
}

.notification-by{
 display: flex;
 column-gap: 5px;
}

.notification-by div{
  font-size: 14px;
  color: rgb(96, 96, 96);
}

.notification-star{
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-time{
  position: absolute;
  right: 20px;
  color: rgb(70, 70, 70);
  font-size: 14px;
}

.notification-request-buttons{
  display: flex;
  column-gap: 30px;
}

.notification-button-accept, .notification-button-decline{
  padding: 5px 10px;
  border-radius: 10px;
  width: 80px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.notification-button-accept{
  background-color: var(--theme-color);
}

.notification-button-accept:hover{
  background-color: rgb(81, 0, 128);
}

.notification-button-decline{
  background-color: rgb(61, 61, 61);
}

.notification-button-decline:hover{
  background-color: rgb(52, 52, 52);
}

.notification-friend-request-status{
  color: rgb(81, 81, 81);
  display: none;
}

#accept-loading-ring{
  background-color: purple!important;
}

@media (max-width: 1250px){
  
}