#profile-page{
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  position: relative;
}

#profile-page::-webkit-scrollbar{
  display: none;
}

#user-profile-header{
  display: flex;
  align-items: center;
  column-gap: 40px;
  height: 55px;
  padding: 5px 10px;
}

#user-profile-header-info{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

#user-profile-header-name{
  font-size: 18px;
  font-weight: 800;
}

#user-profile-header-post-count{
  font-size: 12px;
}

#user-profile-background{
  width: 100%;
  height: 230px;
  position: relative;
  overflow: hidden;
}

#user-profile-image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid var(--background-color);
  position: absolute;
  top: 170px;
  left: 20px;
  overflow: hidden;
}

#user-profile-load{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

#user-profile-details{
  margin-top: 40px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  position: relative;
}

#user-profile-details-name{
  font-size: 18px;
  font-weight: 900;
}

#user-profile-details-username, #user-profile-details-join, #user-profile-details-friends{
  font-size: 14px;
  font-weight: 400;
  color: gray;
}

#profile-request-button{
  border: 0.5px solid;
  width: 140px;
  padding: 7px 12px;
  border-radius: 20px;
  position: absolute;
  right: 20px;
  top: -20px;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}