#profile-page{
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  position: relative;
}

#profile-page::-webkit-scrollbar{
  display: none;
}

#user-profile-header{
  display: flex;
  align-items: center;
  column-gap: 40px;
  height: 55px;
  padding: 5px 10px;
}

#user-profile-header-info{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

#user-profile-header-name{
  font-size: 18px;
  font-weight: 800;
}

#user-profile-header-post-count{
  font-size: 12px;
}

#user-profile-background{
  width: 100%;
  height: 230px;
  position: relative;
  overflow: hidden;
}

#user-profile-image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid var(--background-color);
  position: absolute;
  top: 170px;
  left: 20px;
  overflow: hidden;
}

#user-profile-load{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

#user-profile-details{
  margin-top: 40px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  position: relative;
}

#user-profile-details-name{
  font-size: 18px;
  font-weight: 900;
}

#user-profile-details-username, #user-profile-details-join, #user-profile-details-friends{
  font-size: 14px;
  font-weight: 400;
  color: gray;
}

#profile-request-button{
  border: 0.5px solid;
  width: 140px;
  padding: 7px 12px;
  border-radius: 20px;
  position: absolute;
  right: 20px;
  top: -20px;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}

#user-profile-details-bio{
  font-size: 14px;
}

#user-profile-content{
  margin-top: 40px;
}

#user-profile-content-tabs-header{
  display: flex;
  justify-content: space-around;
  border-bottom: 0.5px solid var(--border-color);
  padding-bottom: 5px;
}

#user-profile-content-tabs-header1, #user-profile-content-tabs-header2{
  position: relative;
  cursor: pointer;
}

#user-profile-content-tabs-header1::after, #user-profile-content-tabs-header2::after{
  content: "";
  width: 120%;
  height: 4px;
  background-color: var(--theme-color);
  position: absolute;
  bottom: -4px;
  left: -10%;
  border-radius: 10px;
  display: var(--tab-header1,block);
}

#user-profile-content-tabs-header2::after{
  display: var(--tab-header2,none);
}

#user-profile-tab-content{
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}

.profile-friends-container{
  border: 0.5px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
  flex: 0 0 32.2%;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  row-gap: 10px;
  cursor: pointer;
}

#profile-friends-profile{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.profile-friends-details{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-friends-username{
  color: gray;
  font-size: 14px;
}