#bookmark-container{
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

#bookmark-container::-webkit-scrollbar{
  display: none;
}

.bookmark-message-container{
  display: flex;
  column-gap: 5px;
}

.bookmark-time{
  color: rgb(72, 72, 72);
  font-size: 15px;
}

#bookmark-container-title {
  height: 50px;
  padding: 20px 0px 10px 10px;
  height: 60px;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 0.5px solid var(--border-color);
}

.loader{
  margin: 10px 0 0 0;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bookmark-post-container{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.bookmark-post{
  border-bottom: 0.5px solid var(--border-color);
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-bottom: 15px;
}

.bookmark-message{
  color: rgb(72, 72, 72);
  font-size: 15px;
}

.bookmark-head{
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.bookmark-profile{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post-image-container{
  width: 100%;
  height: 400px;
  position: relative;
  border-radius: 10px;
}

.bookmark-post-image{
  object-fit: contain;
  border-radius: 10px;
}

#bookmark-page-no-post{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}