#nav{
  flex: 0 0 275px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

#nav::-webkit-scrollbar{
  display: none;
}

#nav-logo{
  margin-top: 20px;
  font-size: 25px;
  color: var(--theme-color);
  font-family: cursive, "Noto Sans", "Helvetica Neue", Arial, sans-serif;
}

#nav-user-info{
  display: flex;
  column-gap: 20px;
  align-items: center;
  padding: 20px 0px;
}

#nav-user-loading{
  padding: 20px 0px;
  width: 275px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-optional-loading{
  display: none;
}

#nav-user-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

#nav-user-desc{
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

#nav-username-container{
  display: flex;
  column-gap: 5px;
  align-items: center;
}

#nav-user-name{
  font-weight: 600;
  font-size: 18px;
}

#nav-user-username{
  color: var(--theme-color)
}

#nav-options{
  display: flex;
  flex-direction: column;
  row-gap: 0px;
}

.nav-option{
  display: flex;
  font-size: 20px;
  align-items: center;
  column-gap: 20px;
  cursor: pointer;
  padding: 15px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.nav-option:hover, .nav-option:hover *{
  background-color: var(--second-background-color);
}

.option-selected, .option-selected *{
  background-color: var(--selected-color)!important;
}

.nav-option-logo{
  font-size: 26px;
}

#nav-log-out-button{
  width: 80%;
  min-height: 40px;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: var(--text-color);
  color: var(--background-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 5px;
}

#nav-log-out-button *{
  background-color: var(--text-color);
  color: var(--background-color);
}

@media (max-width: 1240px){
  #nav{
    flex: 0 0 70px;
    display: flex;
    align-items: center;
  }

  #nav-user-loading{
    display: none;
  }

  #nav-optional-loading{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0.5px solid var(--border-color);
    background-color: var(--second-background-color);
  }

  #nav-user-info{
    padding: 0px 0px;
    display: flex;
    align-items: center;
  }

  #nav-user-desc{
    display: none;
  }

  .nav-opt-desc{
    display: none;
  }

  #nav-options{
    align-items: center;
    row-gap: 10px;
  }

  .nav-option{
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  #nav-log-out-button{
    width: 100%;
  }
}

@media (max-width: 730px){
  #nav{
    display: none;
  }
}