#right-nav-popup{
  display: none;
}

#profile-popup, #friend-request-popup, #friend-request-popup-no, #notification-popup, #message-popup, #notification-popup{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: absolute;
  padding: 10px 10px;
  top: 70px;
  right: 10px;
  width: 350px;
  height: 500px;
  border-radius: 10px;
  border: 1px solid rgb(65, 65, 65);
  background-color: var(--background-color)!important;
  display: none;
}

.temp-color{
  background-color: var(--background-color)!important;
}

.profile-popup-child{
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 15px 10px;
  cursor: pointer;
  border-radius: 10px;
}

.profile-popup-child:hover, .profile-popup-child:hover *{
  background-color: rgb(57, 57, 57)!important;
}

.profile-popup-main{
  border-bottom: 1px solid rgb(65, 65, 65);
  padding-bottom: 10px;
  border-radius: 0%;
}

.profile-popup-main:hover{
  border-radius: 10px;
}

#profile-popup-logo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#profile-popup-username{
  font-size: 18px;
}

.friend-request-card, .notification-card{
  display: flex;
  column-gap: 10px;
  padding: 10px 0px;
  border-bottom: 1px solid rgb(65, 65, 65);
}

.friend-request-logo, .notification-user-logo{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.friend-request-card-details-container{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.friend-request-card-details{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.friend-request-card-title{
  font-size: 14px;
}

.friend-request-card-room-code{
  font-size: 12px;
}

.friend-request-card-time{
  font-size: 12px;
  color: var(--theme-color);
}

.friend-request-card-buttons{
  display: flex;
  column-gap: 20px;
}

.friend-request-card-button{
  border: none;
  outline: none;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.friend-request-card-button1{
  background-color: var(--theme-color)!important;
}

.friend-request-card-button2{
  background-color: rgb(57, 57, 57)!important;
}

.notification-container{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.notification-description{
  font-size: 14px;
}

.notification-by{
  font-size: 12px;
}

.verified{
  font-size: 12px;
}

#source-container{
  display: flex;
  align-items: center;
  column-gap: 4px;
}