@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  --text-color: rgb(178, 178, 178);
  --background-color: #131314;
  --second-background-color: rgb(30, 30, 30);
  --theme-color: #6614b8;
  --selected-color: rgb(46,46,46);
  --border-color: rgb(46, 46, 46);
  background-color: var(--background-color);
  color: var(--text-color);
}

#homepage, #notification-page, #bookmark-page, #search-page{
  max-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#homepage{
  position: relative;
}

.middle-container{
  border-left: 0.5px solid var(--border-color);
  border-right: 0.5px solid var(--border-color);
  flex: 0 0 648px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

.middle-container::-webkit-scrollbar{
  display: none;
}

@media (max-width:1200px){
  #homepage, #notification-page, #bookmark-page{
    width: 100vw;
  }
}

@media(max-width:750px){
  .middle-container{
    flex: 0 0 648px;
  }
}

@media (max-width: 730px){
  .middle-container{
    flex: 0 0 100vw;
  }
}