#home-container{
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

#home-container::-webkit-scrollbar{
  display: none;
}

#homepage-post-upload-imgurl{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: none;
  position: relative;
}

#homepage-filter{
  display: flex;
  justify-content: space-evenly;
  padding: 16px 10px 0px 10px;
  height: 50px;
  column-gap: 120px;
  border-bottom: 0.5px solid var(--border-color);
}

#home-filter-discovery, #home-filter-following{
  font-weight: 600;
  position: relative;
  cursor: pointer;
}

#home-filter-discovery:after, #home-filter-following:after{
  content: "";
  width: 68px;
  height: 4px;
  background-color: var(--theme-color);
  position: absolute;
  top: 30px;
  border-radius: 10px;
  left: -0px;
}

#home-filter-discovery:after{
  display: var(--after-discovery, block);
}

#home-filter-following:after{
  width: 75px;
  display: none;
  display: var(--after-following, none);
}

#post-container{
  height: fit-content;
  padding: 10px 15px;
  border-bottom: 0.5px solid var(--border-color);
}

#post-loading{
  width: 40px;
  height: 40px;
}

#post-write-container{
  display: flex;
  column-gap: 20px;
  align-items: start;
}

#post-user-logo{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#post-text{
  border: none;
  border-bottom: 0.5px solid var(--border-color);
  resize: none;
  height: 80px;
  outline: none;
  width: 80%;
  padding: 4px;
}

#post-extra-options{
  margin-top: 15px;
  padding-left: 70px;
  column-gap: 20px;
  display: flex;
  position: relative;
}

#post-image-option{
  font-size: 22px;
  cursor: pointer;
}

#post-input-file{
  display: none;
}

#post-emoji-option{
  font-size: 20px;
  margin-top: 2px;
  cursor: pointer;
}

#post-button{
  outline: none;
  border: none;
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 10px 25px;
  border-radius: 20px;
  position: absolute;
  right: 10px;
  bottom: -5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#post-button:hover{
  background-color: rgb(143, 143, 143);
}