#post-results{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-result-container{
  padding: 20px 20px 0px 20px;
  border-bottom: 0.5px solid var(--border-color);
}

.post-result-container-heading{
  display: flex;
  column-gap: 10px;
  align-items: start;
  margin-bottom: 20px;
}

.post-owner-pfp{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-result-username-container{
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.post-result-username{
  color: gray;
  font-weight: 600;
  cursor: pointer;
}

.post-result-created-at{
  font-size: 12px;
  color: gray;
}

.post-result-image{
  height: 350px;
  width: 320px;
  object-fit: cover;
  border-radius: 20px;
}

.post-result-stat{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-around;
}

.star-container, .save-container, .repost-container{
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  flex: 0.33;
  border-radius: 10px;
}

.star-container:hover, .star-container:hover *, .save-container:hover, .save-container:hover *, .repost-container:hover, .repost-container:hover *{
  background-color: var(--selected-color);
}

#post-loader{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.heart{
  font-size: 18px;
}