.toast {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 12px 20px;
  background: #222;
  border: 2px solid var(--border-color);
  color: white;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
}

/* When visible */
.toast-show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
