#lower-nav-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: none;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.lower-nav-option {
  font-size: 24px;
  cursor: pointer;
}

#lower-add-post {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 730px) {
  #lower-nav-container {
    display: flex;
  }
}