#messages-container {
  border-left: 0.5px solid var(--border-color);
  border-right: 0.5px solid var(--border-color);
  flex: 0 0 648px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
}

#messages-container::-webkit-scrollbar {
  display: none;
}

#message-left-container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  border-right: 0.5px solid var(--border-color);
  scrollbar-width: none;
}

#message-right-container-go-back{
  cursor: pointer;
}

.message-left-container::-webkit-scrollbar {
  display: none;
}

#message-right-container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: none;
  position: relative;
  display: none;
  flex-direction: column;
}

#message-left-container-header,
#message-right-container-header {
  font-size: 24px;
  padding: 15px;
  font-weight: 600;
  border-bottom: 1px solid var(--border-color);
}

#message-right-container-header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

#message-left-container-options {
  display: flex;
  flex-direction: column;
}

.message-left-container-option {
  display: flex;
  padding: 15px 10px;
  cursor: pointer;
  column-gap: 10px;
  border-bottom: 2px solid var(--border-color);
}

.message-left-container-option-selected,
.message-left-container-option-selected * {
  background-color: var(--border-color);
}

.message-left-container-option-image {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.message-left-container-option-details {
  display: flex;
  align-items: start;
  column-gap: 2px;
}

.message-left-container-option-username {
  font-size: 12px;
}

#message-right-container-description {
  width: 100%;
  border-bottom: 2px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 40px 0px;
  row-gap: 10px;
  cursor: pointer;
}

#message-right-container-description-image {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

#message-right-container-description-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3px;
}

#message-right-container-description-description-username {
  color: gray;
}

#message-right-container-body {
  flex-grow: 1;
  overflow-y: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  scrollbar-width: none;
}

.message-right-container-body::-webkit-scrollbar {
  display: none;
}


#message-right-container-message-container {
  display: flex;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  flex-grow: 1;
}

.message-right-container-message {
  width: fit-content;
  padding: 8px 10px;
}

.left {
  background-color: var(--theme-color);
  align-self: flex-start;
  border-radius: 20px 20px 20px 3px;
}

.right {
  background-color: var(--border-color);
  align-self: flex-end;
  border-radius: 20px 20px 3px 20px;
}

#message-right-container-empty-message {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  color: gray;
  flex-grow: 1;
}

#message-right-container-bottom-spacer {
  flex-grow: 1;
}


#message-right-container-input-container {
  position: sticky;
  bottom: 0px;
  border-top: 2px solid var(--border-color);
  padding: 8px 5px;
  width: 100%;
}

#message-right-container-input-container-container {
  width: 100%;
  background-color: var(--border-color);
  height: fit-content;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  justify-content: space-between;
}

#message-right-container-input-container-container * {
  background-color: var(--border-color);
}

#message-right-container-input {
  outline: none;
  border: none;
  width: 94%;
  padding: 5px 5px;
  min-height: 20px;
  max-height: 200px;
  overflow-y: auto;
  resize: none;
  scrollbar-width: none;
}

#messages-right-container-input::-webkit-scrollbar {
  display: none;
}

#message-right-container-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.message-loading-animation{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media(max-width:750px){
  #messages-container{
    flex: 0 0 648px;
  }
}

@media (max-width: 730px){
  #messages-container{
    flex: 0 0 100vw;
  }
}