.navToggleBtn {
  position: fixed;
  bottom: 70px;
  right: 10px;
  z-index: 1001;
  width: 40px;
  height: 40px;
  background: var(--toggle-btn-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0;
  box-shadow: 0 4px 8px rgba(49, 49, 49, 0.2);
  transition: background 0.3s;
  display: none;
}

.navToggleBtn:hover {
  background: var(--text-color);
}

.navToggleBtn span {
  display: block;
  width: 80%;
  height: 3px;
  background: var(--background-color);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.navToggleBtnActive span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.navToggleBtnActive span:nth-child(2) {
  opacity: 0;
}

.navToggleBtnActive span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.floatingNav {
  position: fixed;
  bottom: 120px; /* Position below the button */
  right: 0px;
  z-index: 1000;
  background: var(--nav-bg);
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(78, 78, 78, 0.3);
  width: 200px;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity var(--transition-duration) ease-out, 
              visibility var(--transition-duration) ease-out, 
              transform var(--transition-duration) ease-out;
}

/* State when the menu is visible */
.floatingNavVisible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Nav List Styling */
.floatingNav ul {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

.floatingNav li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  transition: background 0.3s;
}

.floatingNav li a:hover {
  background: #34495e;
}

/* --- Responsiveness for Smaller Screens (Mobile) --- */
@media (max-width: 600px) {
  .floatingNav {
      width: 80%; 
      right: 10%; /* Centers it on mobile screens */
  }
}

@media (max-width: 730px) {
  .navToggleBtn{
    display: flex;
  }
}