#search-container{
  display: flex;
  align-items: center;
  width: 90%;
  height: 40px;
  margin: 10px 5%;
  column-gap: 10px;
  border-radius: 25px;
  border: 1px solid var(--border-color);
  padding: 0px 10px;
}

#search-keyword{
  outline: none;
  border: none;
  width: 95%;
}

.new-user-loader{
  display: flex;
  align-items: center;
  justify-content: center;
}

#latest-user-container{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 10px;
  border-top: 0.5px solid var(--border-color);
  border-bottom:  0.5px solid var(--border-color);
  height: 260px;
}

#latest-user-title{
  font-weight: 600;
  font-size: 20;
}

.latest-id-container{
  border: 0.5px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  border-radius: 15px;
  row-gap: 10px;
  height: 200px;
  cursor: pointer;
}

.user-profile{
  width: 100px;
  height: 100px;
  position: relative;
}

.profile-image{
  border-radius: 50%;
  object-fit: cover;
}

.id-details{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.id-username{
  color: gray;
  font-size: 14px;
}

.latest-search-friend-button{
  background-color: var(--theme-color);
  padding: 5px 10px;
  border-radius: 5px;
}

#search-result-default{
  display: flex;
  justify-content: center;
  color: gray;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

#search-type-user, #search-type-post{
  position: relative;
  cursor: pointer;
}

#search-type-user::after{
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--theme-color);
  position: absolute;
  top: 22px;
  border-radius: 10px;
  left: 0px;
  display: var(--after-search-user, block);
}

#search-type-post:after{
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--theme-color);
  position: absolute;
  top: 22px;
  border-radius: 10px;
  left: 0px;
  display: var(--after-search-post, none);
}

#search-result-type{
  display: flex;
  justify-content: space-around;
  border-bottom: 0.5px solid var(--border-color);
  padding: 10px;
}

#search-result-profile{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

#search-post-image{
  width: 500px;
  height: 700px;
  position: relative;
}

#search-results{
  display: flex;
  flex-wrap: wrap;
  padding: 10px 5px;
  column-gap: 10px;
  row-gap: 10px;
  width: 100%;
}

.search-result-user{
  border: 0.5px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  row-gap: 10px;
  cursor: pointer;
}

.search-result-user:hover, .search-result-user:hover *{
  background-color: rgb(30, 30, 30);
}

.swiper-container-wrapper {
  position: relative;
  padding-bottom: 40px; /* extra space for pagination */
}

.swiper-button-next,
.swiper-button-prev {
  color: #6614b8;
  background-color: transparent;
}

.search-result-post{
  flex: 0 0 95%;
  overflow: hidden;
}

.search-result-post-info{
  display: flex;
  column-gap: 10px;
}

.search-result-post-profile{
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.search-result-post-username{
  color: gray;
}

#search-results{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px 5px;
  width: 100%;
}

.search-result-user{
  border: 0.5px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  row-gap: 10px;
  cursor: pointer;
}

.search-result-user:hover, .search-result-user:hover *{
  background-color: rgb(30, 30, 30);
}

#search-results:has(> :only-child) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-results:has(> :only-child) .search-result-user{
  width: 300px;
}

@media (max-width: 768px) {
  #search-results {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  #search-results {
    grid-template-columns: repeat(1, 1fr);
  }
}