#settings-container{
  border-left: 0.5px solid var(--border-color);
  border-right: 0.5px solid var(--border-color);
  flex: 0 0 648px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
}

#settings-container::-webkit-scrollbar{
  display: none;
}

#settings-left-container{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  border-right: 0.5px solid var(--border-color);
  scrollbar-width: none;
}

.settings-left-container::-webkit-scrollbar{
  display: none;
}

#settings-right-container{
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  position: relative;
  display: none;
}

.settings-right-container::-webkit-scrollbar{
  display: none;
}

#settings-go-back{
  cursor: pointer;
}

#settings-left-container-header, #settings-right-container-header{
  font-size: 24px;
  padding: 15px;
  font-weight: 600;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  column-gap: 10px;
}

#settings-left-container-options{
  display: flex;
  flex-direction: column;
}


.settings-left-container-option{
  display: flex;
  justify-content: space-between;
  padding: 25px 10px;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}

.settings-left-container-option *{
  transition: background-color 0.5s ease-in-out;
}

.settings-left-container-option:hover, .settings-left-container-option:hover *{
  background-color: var(--border-color);
}

.selected-option, .selected-option *{
  background-color: rgb(39, 39, 39);
}

#settings-right-container-change{
  display: flex;
  width: 100%;
  padding: 5px 15px;
  column-gap: 20px;
  align-items: center;
}

#settings-loader{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#settings-right-container-input{
  outline: none;
  border: 2px solid var(--border-color);
  height: 40px;
  flex: 1;
  padding: 0px 5px;
  border-radius: 20px;
  font-size: 16px;
}

#settings-right-container-textarea{
  outline: none;
  border: 2px solid var(--border-color);
  height: 100px;
  flex: 1;
  padding: 5px 5px;
  border-radius: 20px;
  font-size: 16px;
  resize: none;
}

#settings-right-container-password{
  display: flex;
  width: 100%;
  padding: 5px 15px;
  column-gap: 20px;
  align-items: center;
}

#settings-right-container-password-input{
  outline: none;
  border: 2px solid rgb(108, 2, 2);
  height: 40px;
  flex: 1;
  padding: 0px 5px;
  border-radius: 20px;
  font-size: 16px;
}

#settings-page-server-update-button{
  padding: 8px 15px;
  background-color: var(--theme-color);
  border-radius: 10px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  border: none;
  cursor: pointer;
}

#settings-page-server-update-button:hover{
  background-color: #5d13a7;
}

@media(max-width:750px){
  #settings-container{
    flex: 0 0 648px;
  }
}

@media (max-width: 730px){
  #settings-container{
    flex: 0 0 100vw;
  }

  #settings-right-container{
    height: 60vh;
  }
}